<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mt-3" >
      <div class="col-lg-6" style="margin:auto">
         <div class="card">
           <div class="card-body">
           <div class="card-title text-center">Update Product Details</div>
           <hr>
            <form action="{% url 'update_product' p_id=p.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
           <div class="form-group">
            <label >Name</label>
            <input type="text" class="form-control"  placeholder="Enter Product Name" name="name" value="{{p.name}}">
           </div>
           <div class="form-group">
            <label >Description</label>
               <textarea name="desc" class="form-control">{{p.description}}</textarea>
           </div>

           <div class="form-group">
            <label >Price</label>
            <input type="text" class="form-control"  placeholder="Enter Price in INR" name="price" value="{{p.price}}">
           </div>

              <div class="form-group">
            <label >Category</label>
                <select name="category" class="form-control">
                  <option selected>{{p.category}}</option>
                  {% for i in categories %}
                  <option >{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>

           <div class="form-group">
            <label >Choose Product Image</label> <br>
             <img src="{{p.image.url}}" width="80px">
            <input type="file" class="form-control mt-3"  name="prod_img" >
           </div>

           <div class="form-group mt-5 text-center">
            <button type="submit" class="btn btn-light px-5" > Update Product</button>
          </div>
          </form>
         </div>
         </div>
      </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'success' %}
<script>
    swal('{{i}}','','success')
</script>
{% elif i.tags == 'warning' %}
<script>
    swal('{{i}}','','warning')
</script>
{% elif i.tags == 'info' %}
<script>
    swal('{{i}}','','info')
</script>
{% else %}
<script>
    swal('{{i}}','','error')
</script>
{% endif %}
{% endfor %}
{% endif %}
</body>

</html>
{% endblock %}